<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/loader.css">

</head>

<body>
<div class="card">
  <div class="loader">
    <div class="words">
      <span class="word">Loading</span>
      <span class="word">Cleaning</span>
      <span class="word">Running</span>
      <span class="word">Finishing</span>
      <span class="word">Loading</span>

    </div>
    <div class="words1">
      <span class="word">data</span>
      <span class="word">data</span>
      <span class="word">model</span>
      <span class="word">calculations</span>
      <span class="word">data</span>

    </div>
  </div>
</div>

</body>
</html>